<!doctype html>
<html lang="en">
<head>
  <title>Employee Details</title>
  {% include 'bootstrap.html' %}  
</head>
<body>
  {% include 'navbar.html' %}
  
  <h3 class="text-center my-3">Employee Details</h3>

  <div class="container">
    <div class="row">
    <div class="card">
    <div class="card-body">
      <form action="/index/do-emp-update/{{emp.emp_id}}" class="row g-4" method="POST">
        {% csrf_token %}
        <div class="col-md-3">
          <label for="empid" class="form-label">Employee ID</label>
          <input type="text" class="form-control" name="emp_id" id="empid" value="{{emp.emp_id}}">
        </div>

        <div class="col-md-3">
          <label for="designation" class="form-label">Designation</label>
          <input type="text" class="form-control" name="designation" id="designation">
        </div>
  
        <div class="col-md-3">
          <label for="department" class="form-label">Department</label>
          <input type="text" class="form-control" name="dept" id="department" value="{{emp.dept}}">
        </div>
  
        <div class="col-md-3">
          <label for="joiningdate" class="form-label">Joining Date</label>
          <input type="date" class="form-control" name="jdate" id="joiningdate" value="{{emp.jdate}}">
        </div>

        <div class="col-md-3">
          <label for="lastdate" class="form-label">Last Date</label>
          <input type="date" class="form-control" name="ldate" id="lastdate" value="{{emp.ldate}}">
        </div>

        <div class="col-md-3">
          <label for="hrcordinator" class="form-label">HR Cordinator</label>
          <input type="text" class="form-control" name="hrcordinator" id="hrcordinator">
        </div>

        <div class="col-md-7">
          <label for="fullname" class="form-label">Full Name</label>
          <input type="text" class="form-control" name="name" id="fullname" value="{{emp.name}}">
        </div>

        <div class="col-md-3">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" name="email" id="email">
        </div>
  
        <div class="col-md-3">
          <label for="contact-no" class="form-label">Contact No</label>
          <input type="text" class="form-control" name="contact" id="contact-no" value="{{emp.contact}}">
        </div>

        <div class="col-md-3">
          <label for="PANID" class="form-label">PAN ID</label>
          <input type="text" class="form-control" name="panid" id="PANID">
        </div>

        <div class="col-md-3">
          <label for="birthdate" class="form-label">Birth Date</label>
          <input type="date" class="form-control" name="birthdate" id="birthdate">
        </div>
  
        <div class="col-8">
          <label for="address1" class="form-label">Address</label>
          <input type="text" class="form-control" name="add" id="address1" placeholder="S.R. No 123, House/Appartment Name, Colony/Chaul Name, Landmark, Area name" value="{{emp.add}}">
        </div>
        
        <div class="col-md-3">
          <label for="State" class="form-label">State</label>
          <select id="State" class="form-control" name="state">
            <option selected>{{emp.state}}</option>
			<option>Select state</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="BR">Bihar</option>
            <option value="CH">Chandigarh</option>
            <option value="CT">Chhattisgarh</option>
            <option value="DN">Dadra and Nagar Haveli</option>
            <option value="DD">Daman and Diu</option>
            <option value="DL">Delhi</option>
            <option value="GA">Goa</option>
            <option value="GJ">Gujarat</option>
            <option value="HR">Haryana</option>
            <option value="HP">Himachal Pradesh</option>
            <option value="JK">Jammu and Kashmir</option>
            <option value="JH">Jharkhand</option>
            <option value="KA">Karnataka</option>
            <option value="KL">Kerala</option>
            <option value="LA">Ladakh</option>
            <option value="LD">Lakshadweep</option>
            <option value="MP">Madhya Pradesh</option>
            <option value="MH">Maharashtra</option>
            <option value="MN">Manipur</option>
            <option value="ML">Meghalaya</option>
            <option value="MZ">Mizoram</option>
            <option value="NL">Nagaland</option>
            <option value="OR">Odisha</option>
            <option value="PY">Puducherry</option>
            <option value="PB">Punjab</option>
            <option value="RJ">Rajasthan</option>
            <option value="SK">Sikkim</option>
            <option value="TN">Tamil Nadu</option>
            <option value="TG">Telangana</option>
            <option value="TR">Tripura</option>
            <option value="UP">Uttar Pradesh</option>
            <option value="UT">Uttarakhand</option>
            <option value="WB">West Bengal</option>
          </select>
        </div>
  
        <div class="col-md-3">
          <label for="idproof" class="form-label">ID Proof</label>
          <select value="{{emp.idproof}}" id="idproof" class="form-control" name="idproof">
            <option>Select state</option>
            <option value="ADHAR">Adhar</option>
            <option value="PAN">PAN</option>
            <option value="Light Bill">Light Bill</option>
            <option value="Driving Liscence">DL</option>
          </select>
        </div>
        
        <div class="col-12">
          <div class="form-check">
            <input
              {% if emp.working %}
                checked
              {% endif %}
              class="form-check-input" type="checkbox" name="working" id="gridCheck">
              <label class="form-check-label" for="gridCheck">Working</label>
          </div>
        </div>
              
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </form>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
